@(workouts: Page[(Exercise, ExerciseType)])(implicit flash: play.api.mvc.Flash, messages: Messages)

@main("Steel - The Workout Tracker") {
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 text-center">
        <h1>Steel Workout Tracker</h1>
         @flash.get("success").map { message =>
           <div class="alert-message warning">
             <strong>Done!</strong> @message
           </div>
         }
        <a href="/workouts/new" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-edit"></span> Log your workout</a>
        
        <h3>Recent workouts</h3>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Reps</th>
                <th>Sets</th>
                <th>Weight</th>
                <th>Notes</th>
              </tr>
            </thead>
            <tbody>
            @Option(workouts.items).map { exercises =>
              @exercises.map {
                case (exercise, exerciseType) => {
                <tr>
                  <td>@exerciseType.name</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>@exercise.notes</td>
                </tr>
                }
              }
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>

    


  </div>

}
