@(workouts: List[Exercise])

@main("Steel - The Workout Tracker") {
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 text-center">
        <h1>Steel Workout Tracker</h1>
        <a href="/workouts/new" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-edit"></span> Log your workout</a>
        
        <h3>Recent workouts</h2>
          <ul>
            @for( exercise <- workouts) {
              <li>@exercise.kind</li>
            }
           </ul>
      </div>
    </div>

    


  </div>

}
